@mixin viewport-width-for-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #85e;
  background: linear-gradient(to right bottom, #85e, #47e);
  color: #333;
}

a {
  color: #47e;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.App {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  height: 100%;

  .App_Main {
    width: calc(100% - 20px * 2);
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }

  .App__Footer {
    padding: 10px;
    font-size: 14px;

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      column-gap: 20px;
    }

    a,
    button {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.AppOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 65535;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutModal {
  position: relative;
  width: calc(100% - 20px);
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;

  background: #fff;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .AboutModal__Content {
    font-size: 16px;
    line-height: 1.5;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0;
    }

    p {
      margin: 1em 0;
    }
  }

  .AboutModal__CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 32px;
    color: #000;
  }
}

.Title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.InstanceList {
  list-style: none;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .InstanceList__Empty {
    padding: 20px;
    text-align: center;
    color: #999;
  }
}

.InstanceItem {
  position: relative;
  border-top: 2px solid #eee;

  a {
    display: block;
    padding: 20px;
    color: #333;
    text-decoration: none;

    &:hover {
      background: #f9f9f9;
    }
  }

  .InstanceItem__Name {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 10px;
    font-weight: bold;
    font-size: 18px;

    .InstanceItem__Name__Domain {
      color: #999;
      font-size: 14px;
    }
  }

  .InstanceItem__Description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    font-size: 14px;
    margin-top: 5px;
  }

  &:first-child {
    border-top: 0;
  }

  .InstanceItem__Menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    column-gap: 10px;
    padding: 20px;

    button {
      background: none;
      border: 0;
      cursor: pointer;
      color: #999;
    }
  }
}

.InstanceItemMenuPopup {
  background: #fff;
  padding: 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 65535;

  .InstanceItemMenuPopup__Button {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;

    &:hover {
      background: #f9f9f9;
    }

    &.is-danger {
      color: #f00;
    }
  }
}

.InstanceForm {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;

  .InstanceForm__Title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .InstanceForm__Content {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .InstanceForm__Input,
  .InstanceForm__Button {
    height: 48px;
    padding: 0 10px;
  }

  .InstanceForm__Input {
    display: block;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }

  .InstanceForm__Button {
    display: block;
    width: 8em;
    background: #47e;
    color: #fff;
    border: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &[disabled] {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  @include viewport-width-for-mobile {
    .InstanceForm__Content {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .InstanceForm__Input,
    .InstanceForm__Button {
      width: 100%;
      border-radius: 4px;
    }
  }
}
